$blue: #0044a6;
$red: #ec1b29;
$bluelight: #f7f7f7;
$text: #272727;
$text2: #5e5d5d;
$lightgrey: #898989;
$bg: #fff;

$box-shadow-container: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);