@media (max-width: 768px){
  .services-headwrap{
    padding-left: 0;
    padding-right: 0;
  }
  .services{
    margin-top: 57px;
  }
  .center{
    height: 578px;
    margin-top: -8px;
}

  .services-items{
    &-col1{
        &-item {
            display: flex;
            flex-direction: column;
            flex-direction: column-reverse;
            min-height: 200px;
            & > p{
                text-align: center;
            }
            &:not(.outer){
                &:before{
                    top: 166px;
                    right: 2px;
                    width: 92%;
                }
            }
        }
        &-itemreverce {
            display: flex;
            flex-direction: column;
            min-height: 200px;
            & > p{
                text-align: center;
            }
            &:not(.outer){
                &:before{
                    top: 166px;
                    left: 2px;
                    width: 92%;
                }
            }    
        }
    }
}
  .services-items-item-ccircle-red{
    margin-left: 26px;
    margin-right: 26px;
    margin-bottom: 19px;
  }
.order{
  &-form{
    width: 84%;
    &-formcontent{
      &-block{
        input[type="text"]{
          width: 100%;
          font-size: 14px;
        }  
        }    
      }
    }
  }
  .order-form-namber {
    font-size: 6vw;
  }
}