.contacts{
    margin-top: 175px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    &-content{
        max-width: 50%;
        h2{
            text-align: left;
            margin-bottom: 94px;
        }
        &-cols{
            display: flex;
            &-col{
                width: 377px;
                &-item{
                    display: flex;
                    min-height: 118px;
                    &-svg{
                        width: 70px;
                        height: 47px;
                        svg{
                            fill: $blue;
                        }
                    }
                    &-text{
                        position: relative;
                        p{
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
    &-maping{
        max-width: 50%;
        margin-top: 13px;
        border-radius: 20px;
        box-shadow: $box-shadow-container;
        &-map{
            max-width: 100%;
            height: 100%;
            border-radius: 20px;
            object-fit: cover;
        }
    }
}

