@media (max-width: 927px) and (max-height: 480px) and (orientation: landscape) {
  // дублировано на 768
  .main-header-menu {
    position: relative;
    &-wrp{
      visibility: hidden;
      flex-direction: column;
      position: absolute;
      right: 0px;
      top: 28px;
      background-color: rgba(255, 255, 255, 0.5);
      &-link{
        padding: 10px 30px;
        p{
          &:hover{
          &::before {
            display: none;
          }
          }
        }
      }
    }
  }
  // дублировано на 768
  .main-header-menu-label {
    display: block;
    width: 44px;
    height: 28px;
    background-image:  url('https://cdn3.iconfinder.com/data/icons/mobile-friendly-ui/100/menu-128.png');
    background-size: 125%;
    //background-repeat: ;
    background-position: 5px -14px;
  }
  // дублировано на 768
  .main-header-menu-input[type="checkbox"]:checked ~ .main-header-menu-wrp {
    height: auto;
    visibility: visible;
  }
  /* end */
  }