@media (max-width : 1280px) {
  .algorithm{
    &-items{
      justify-content: space-around;
      &-item{
        width: 31%;
      }
    }
  }

  .skills{
    &-block{
      width: 100%;
    }
  }

  .accordion {
    width: 100%;
  }

}

