@media (max-width: 1024px) {
  .cover-wrap-h1 {
    font-size: 8vw;
  }
  .main-text{
    font-size: 16px;
  }
}

@media (max-width: 880px){
  .main-header-menu-wrp-link {
    p {display: none;
    }
  }
  .main-text{
    font-size: 14px;
  }
}

